<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Калькулятор</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div class="karkas">
		<div class="padCalc">
			<h1 class="t1">Калькулятор</h1>
			<div class="bl len">
				<p class="val">{{ value }} (м)</p>
				<div class="fields">
					<span>0.1</span><input type="range" min="0.1" max="10" class="rves" id="v1" step="0.01" v-model="answ"><span>10</span>
					<input type="text" id="answ" v-model="answ">
				</div>
			</div>
			<div class="bl wid">
				<p class="val">{{ value }} (м)</p>
				<div class="fields">
					<span>0.1</span><input type="range" min="1" max="10" class="rves" id="v2" step="0.1" v-model="answ"><span>10</span>
					<input type="text" id="answ" v-model="answ">
				</div>
			</div>
			<div class="bl height">
				<p class="val">{{ value }} (м)</p>
				<div class="fields">
					<span>0.1</span><input type="range" min="0.1" max="10" class="rves" id="v3" step="0.01" v-model="answ"><span>10</span>
					<input type="text" id="answ" v-model="answ">
				</div>
			</div>
			<div class="bl btn">
				<h4 class="resu">Результат</h3>
				<span class="result"></span>
			</div>
		</div>
	</div>
	<script src="vue/app.js"></script>
	<script src="js/script.js"></script>
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>